body,
.body,
.app,
html {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.background-image {
  width: 100vw;
  opacity: 0.8;
}

.header__logo {
  text-align-last: center;
}

.heroSlide {
  display: none;
}

.active {
  display: block;
}

.header {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
}

.header__items {
  display: flex;
  flex-flow: row;
  justify-content: end;
}

.header__itmes__li {
  list-style-type: none;
  padding: 0 2rem;
}
